doctype html
html data-ng-app="TimeTracker"
  head
    script src="js/angular.min.js"
    script src="js/angular-indexedDB.js"
    script src="js/app/app.js"
    script src="js/app/config.js"
    script src="js/app/trackerCtrl.js"

    link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css"
  body data-ng-controller="TrackerCtrl"
    .container
      .row
        form data-ng-submit="startNewTimer()"
          .col-lg-9
            input.input-lg.form-control.col-lg-9 data-ng-model="newTimer.title"
          .col-lg-3
            button.btn.btn-primary.col-lg-3 type="button" data-ng-click="startNewTimer()" Start
            span data-ng-bind="seconds"
      .row
        table.table.table-hover
          tr data-ng-repeat="timer in timers | orderBy: 'started_at':true"
            td
              |{{timer.title}}
            td
              |{{timer.started_at}}
